<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <welcome-file-list>
    <welcome-file>dir/FirstPar.html</welcome-file>
  </welcome-file-list>
  <display-name>Archetype Created Web Application</display-name>


  <servlet>
    <servlet-name>servletb</servlet-name>
    <servlet-class>demo1.MaFirst</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletb</servlet-name>
    <url-pattern>/system/b</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletname</servlet-name>
    <servlet-class>demo1.MbFirst</servlet-class>

  </servlet>
  <servlet-mapping>
    <servlet-name>servletname</servlet-name>
    <url-pattern>/system/login</url-pattern>
  </servlet-mapping>

</web-app>
